Repository givery-bootcamp/dena-2024-team8, pull requests merged in 2024-06, with the labels that each got.

#38 bootstrapからtailwind cssへの変更
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/app/App.scss
  frontend/src/app/App.tsx
  frontend/src/app/AppRoute.tsx
  frontend/src/app/MainLayout.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/button/menuButton.tsx
  frontend/src/components/card/PostCard.tsx
  frontend/src/components/form/PostForm.tsx
  frontend/src/features/Header.tsx
  frontend/src/features/home/Home.tsx
  frontend/src/features/posts/PostList.tsx
  frontend/src/features/posts/index.ts
  frontend/src/main.scss
  frontend/src/main.tsx
  frontend/tailwind.config.js
Labels: frontend

#19 13 swaggerの導入
  README.md
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/controllers/controller_helper.go
  backend/internal/controllers/error_response.go
  backend/internal/controllers/post_controller.go
  backend/internal/middleware/router.go
  backend/main.go
  docker/backend.Dockerfile
Labels: backend, frontend

#52 誤って削除されたパッケージをインポートする
  backend/internal/middleware/router.go
Labels: in review

#68 画面レイアウトの微調整
  frontend/src/app/AppRoute.tsx
  frontend/src/app/MainLayout.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/features/home/Home.tsx
Labels: in review

#77 投稿更新APIの作成
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/controllers/post_controller.go
  backend/internal/interfaces/post_repository.go
  backend/internal/middleware/router.go
  backend/internal/repositories/post_repository.go
  backend/internal/usecases/post_usecase.go
Labels: backend, in review

#66 Spinnerコンポーネントを追加
  frontend/src/components/Spinner.tsx
  frontend/src/features/posts/Post.tsx
Labels: enhancement, frontend, in review

#54 ログアウトの処理の実装
  frontend/src/components/Header.tsx
  frontend/src/components/button/SignoutButton.tsx
  frontend/src/features/signin/Signin.tsx
  frontend/src/shared/models/User.ts
  frontend/src/shared/services/API.ts
  frontend/src/shared/store/SignoutSlice.ts
Labels: frontend, in review

#82 ElasticSearchでの簡単な検索を導入
  .github/workflows/backend_ci.yml
  backend/go.mod
  backend/go.sum
  backend/internal/controllers/controller_helper.go
  backend/internal/controllers/hello_world_controller.go
  backend/internal/controllers/post_controller.go
  backend/internal/entities/post.go
  backend/internal/external/elasticsearch.go
  backend/internal/middleware/router.go
  backend/internal/repositories/post_repository.go
  backend/main.go
  docker-compose.yml
Labels: backend, in review

#80 Post一覧コンポーネントを汎用的に利用できるように修正する
  frontend/src/features/home/Home.tsx
  frontend/src/features/posts/PostList.tsx
Labels: frontend, in review

#72 検索画面と検索機能の実装
  frontend/src/app/AppRoute.tsx
  frontend/src/components/card/PostCard.tsx
  frontend/src/features/home/Home.tsx
  frontend/src/features/posts/Post.tsx
  frontend/src/features/posts/PostList.tsx
  frontend/src/features/search/SearchRouter.tsx
  frontend/src/shared/models/Posts.ts
  frontend/src/shared/models/User.ts
  frontend/src/shared/services/API.ts
  frontend/src/shared/store/index.ts
  frontend/src/shared/store/searchPostsSlice.ts
Labels: frontend, in review

#93 フロントのbuildでgithub actionで失敗する問題を修正
  frontend/src/components/Header.tsx
Labels: frontend, in review

#86 （ブランチを切り直して力技でコンフリクト解消）投稿削除機能の実装
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/controllers/post_controller.go
  backend/internal/interfaces/post_repository.go
  backend/internal/middleware/router.go
  backend/internal/repositories/post_repository.go
  backend/internal/usecases/post_usecase.go
Labels: backend, in review

#67 formatterの導入とpre-commitの導入
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/AppRoute.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Spinner.tsx
  frontend/src/components/button/SignoutButton.tsx
  frontend/src/features/home/Home.tsx
  frontend/src/features/home/index.ts
  frontend/src/features/search/SearchRouter.tsx
  frontend/src/features/signin/Signin.tsx
  frontend/src/features/signin/index.ts
  frontend/src/main.tsx
  frontend/src/shared/hooks/index.ts
  frontend/src/shared/models/Hello.ts
  frontend/src/shared/models/User.ts
  frontend/src/shared/models/index.ts
  frontend/src/shared/services/API.ts
  frontend/src/shared/services/index.ts
  frontend/src/shared/store/HelloSlice.ts
  frontend/src/shared/store/PostDetailSlice.ts
  frontend/src/shared/store/PostsSlice.ts
  frontend/src/shared/store/SigninSlice.ts
  frontend/src/shared/store/SignoutSlice.ts
  frontend/src/vite-env.d.ts
  lefthook.yml
Labels: enhancement, frontend, in review

#83 コメントAPIのエンドポイントを追加
  backend/go.mod
  backend/internal/controllers/comment_controller.go
  backend/internal/controllers/controller_helper.go
  backend/internal/entities/comment.go
  backend/internal/interfaces/comment_repository.go
  backend/internal/middleware/router.go
  backend/internal/repositories/comment_repository.go
  backend/internal/usecases/comment_usecase.go
  mysql/sql/create.sql
  mysql/sql/insert.sql
Labels: backend

#105 60 create post
  frontend/src/app/AppRoute.tsx
  frontend/src/components/form/PostForm.tsx
  frontend/src/features/posts/CreatePost.tsx
  frontend/src/shared/services/API.ts
  frontend/src/shared/store/CreatePostSlice.ts
  frontend/src/shared/store/index.ts
Labels: frontend, in review

#104 投稿削除機能の実装
  frontend/src/app/AppRoute.tsx
  frontend/src/features/posts/Post.tsx
  frontend/src/features/posts/PostDetailRouter.tsx
  frontend/src/shared/services/API.ts
  frontend/src/shared/store/DeletePostSlice.ts
  frontend/src/shared/store/index.ts
Labels: frontend, in review
